.m2/
.config/tmux/plugins
.Xauthority
.modular/
.mozilla/
.netrc
.npm/
.pki/
.proxy/
.psql_history
.python_history
.ssh/
.swt/
.tastytrade/
.viminfo
.vscode-oss/
.vscode/
.wget-hsts
.zshrc
Documents/
Downloads/
Pictures/
go/
snap/
.Upwork/
.bash_history*
.bash_logout
.hwid
.ib-tws/
.ipython/
.jupyter/
.local/lib/
.local/share/
.local/state/
.docker/
.eclipse/
.cargo/
.cache/
.config/Code - OSS/
.config/Code/
.config/QtProject.conf
.config/chromium/
.config/dconf/
.config/fish/
.config/gh/
.config/github-copilot/
.config/htop/
.config/jxbrowser/
.config/keepassxc/
.config/menus/
.config/mimeapps.list
.config/nextjs-nodejs/
.config/pypoetry/
__pycache__/
.config/qtile/paru/
.config/spotify-tui/
.config/spyder-py3/
.config/sqlitebrowser/
.config/stripe/
.config/systemd/
.config/ttcli/
.config/uv/
